.navbar{
  box-shadow: none;
  background-color: transparent;
 
  @media(min-width:992px){
    box-shadow: 0px 4px 30px 0px #70707026;
    background-color: white;
  }
}

.navbar_container{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  @media(min-width:992px){
    padding: 25px 95px;
    position: unset;
  }


  img{
    width: 70px;
    height: 18px;
    @media(min-width:992px){
      width: 180px;
      height: 46px;
    }
  }

  .navbar_list{
    width: calc(100% - 500px);
    display: none;
    
    @media(min-width:992px){
      display: flex;
      justify-content: space-between;
    }

    .navbar_list-item{
      list-style: none;
      text-align: center;
     
    a{
      text-decoration: none;
      color: #121212;
      font-size: 18px;
      font-weight: 400;
      @media(min-width:1200px){
        font-size: 20px;
      }
      
    

    a:hover{
      font-weight: 600;
    }
  }
}}

  .navbar_button{
    display: none;
    align-items: center;
    justify-content: center;
    background: #FFCD00;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0.05em;
    @media(min-width:992px){
      display: flex;
    }
    @media(min-width:1200px){
      font-size: 20px;
      
      padding: 10px 18px;
    }
  }

  .navbar_menu-mobile{
    background-color: transparent;
    border: none;
    @media(min-width:992px){
      display: none;
    }
    img{
      width: 32px;
      height: 32px;
    }
  }
  
}