.footer{
  background-color: #0E9749;
}

.footer_container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 28px;
  position: relative;
  @media(min-width:992px){
    padding: 40px 95px;
  }

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer_logo{
    width: 100px;
    height: 35px;
    @media(min-width:992px){
     width: unset;
    }
  }


  .top{
    display: none;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: #FFCD00;
    justify-content: center;
    align-items: center;
    img{
      width: 33px;
    }

    @media(min-width:992px){
      display: flex;
    }
  }
}

.footer_logo{
  width: 165px;
  height: 50px;
  margin-bottom: 21px;
}
.footer_content{
  display: flex;
  
}

.flex-1{
  margin-right: 15px;
  @media(min-width:992px){
    margin-right: 107px;
  }
}

.address{
  width: 100%;
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 5px;
  @media(min-width:992px){
    width: 214px;
    font-size: 12px;
    margin-bottom: 27px;
  }
}

.email,.tel{
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 5px;
  @media(min-width:992px){
    font-size: 12px;
  }
}

.tel{
  margin-bottom: 20px;
}

.icon-wrapper{
  img{
    margin-right: 20px;
    width: 12px;
  }
  @media(min-width:992px){
    position: absolute;
    right:10vw;
    img{
      margin-right: 40px;
      width: 24px;
    }
   }
}

.flex-2{
  margin-top: -40px;
  display: flex;
  flex-direction: column-reverse;
  @media(min-width:992px){
    margin-top: 0;
    margin-right: 494px;
    flex-direction: row;
  }
}

.footer_menu{
  
  @media(min-width:992px){
   width: 494px;
  }
  .title{
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
    @media(min-width:992px){
      font-size: 18px;
    }
  }

  li{
    list-style: none;
    margin-bottom: 2px;
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    @media(min-width:992px){
      font-size: 12px;
    }
  }
}

.footer_lang{
  display: flex;
  margin-bottom: 17px;
  img{
    margin-right: 12px;
    width: 12px;
    height: 12px;
    @media(min-width:992px){
      width: 24px;
      height: 24px;
    }
  }

  div{
    margin-right: 12px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    @media(min-width:992px){
      font-size: 18px;
    }
  }
}

}

.copyright{
  display: none;
  @media(min-width: 992px){
    display: block;
    text-align: center;
    color: white;
    margin-top: 80px;
  }
}