.news{
  max-width: 1440px;
  margin: 0 auto;
  max-width: 1440px;
  margin: 0 auto;
}

.news_container{
  padding: 0 20px;
  @media(min-width: 992px){
    padding: 0 95px;
  }

  .news_title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    @media(min-width: 992px){
      margin-bottom: 48px;
      font-size: 25px;
      font-weight: 600;
    }
  }
}

.list_news{
  @media(min-width: 992px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list_news-card{
  display: flex;
  margin-bottom: 25px;
  @media(min-width: 992px){
   width:calc(33% - 36px);
   flex-direction: column;
   margin-bottom: 100px;
  }

  .wrapper{
    width: 100%;
  }
  .card_image{
    width: 125px;
    height: 130px;
    border-radius: 5px;
    margin-right: 15px;
    @media(min-width: 992px){
      width: 100%;
      height: auto;
      margin-bottom: 27px;
      border-radius: 0;
     }
  }

  .inner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
    @media(min-width: 992px){
      font-size: 14px;
      margin-bottom: 20px;
     }
  }

  .title{
    color: #121212;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    @media(min-width: 992px){
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
     }
  }

  .author{
    color: #707070;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 15px;
    span{
      color: #121212;
      font-weight: 700;
    }
    @media(min-width: 992px){
      margin-bottom: 47px;
      font-size: 12px;
     }
  }

  .read{
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-self: center;
    border: none;
    border-radius: 5px;
    background: #FFCD00;
    color: #121212;
    font-size: 12px;
    font-weight: 700;
    margin-left: auto;
    margin-right: 0;
    @media(min-width: 992px){
      margin: 0 auto;
      font-size: 15px;
     }
  }
}

.see{
  margin: 45px auto;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  justify-self: center;
  border: none;
  border-radius: 5px;
  background: #FFCD00;
  color: #121212;
  font-size: 14px;
  font-weight: 700;
  @media(min-width: 992px){
    display: none;
   }
}