.jumbrotron{
  content: url("./Assets/Image.jpg");
  width: 100%;
  margin-bottom: 45px;

   @media(min-width: 992px){
    content: url("./Assets/thumb.jpg");
    margin-top: -14px;
    margin-bottom: 80px;
  }
 
  
}